.list-hotels{
	padding-top: 30px;
	text-decoration: none;
}
app-search-hotel {
    text-align: center;

}

.flex {
    display: flex;
}

.formulario{
  border-radius: 5px;
	width: max-content;
	background-color: #fafafa;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  text-align: center;

  margin-top: 20px;
  margin-left: 20px;
  text-align: initial;
}

li {
	list-style:none;
}


.formulario {
float:left;
}

list-hotels {
float:left;

}

.tabs__panel[_ngcontent-c3] {
    background-color: #f3f6f8 !important;
    width: 100%;
    box-shadow: inset 0px 0px 0px 1px #c9c9c9;
    border-radius: 6px;
    padding: 30px 15px;
}

