<div class="jumbotron jumbotron-fluid fondo">
  <div class="container">
    <h1 class="display-3 blanco">Trivago 2.0</h1>
    <p class="lead blanco">Encuentra el mejor hotel!!</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-5">
    <div class="affix">


      <tabs>
        <tab tabTitle="Guardar">


          <form class="form-signin" (ngSubmit)="saveHotel()">
            <h2 class="form-signin-heading">Guardar Hotel</h2>
            <div class="form-group">
              <label for="inputNombre">Nombre</label>
              <input class="form-control" id="inputNombre" required="true" name="nombre" placeholder="Nombre Hotel" [(ngModel)]="nombre">
            </div>


            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Costo Habitación</span>
              </div>
              <input class="form-control" id="inputCosto" required="true" type="number" name="costoHabitacion" placeholder="$$$"
              [(ngModel)]="costoHabitacion">
            </div>




            <div class="form-group mapa">
              <label for="inputCosto">Ubicación</label>
              <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]=14 (mapClick)="onChoseLocation($event)">
                <agm-marker [latitude]="latitude" [longitude]="longitude" *ngIf="ubicacionElegida"></agm-marker>
              </agm-map>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </tab>

        <tab tabTitle="Buscar">

          <form class="form-signin" (ngSubmit)="filter()">
            <h2 class="form-signin-heading">Buscar Hotel</h2>
            <div class="form-group">
              <label for="inputNombreBuscar">Nombre</label>
              <input class="form-control" id="inputNombreBuscar" required="true" name="nombre" placeholder="Nombre Hotel" [(ngModel)]="hotelBuscado">
            </div>

            <button type="submit" class="btn btn-primary">Buscar</button>
          </form>



        </tab>
      </tabs>


    </div>
  </div>

  <div class="col-lg-7">
    <div class="list-hotels">
      <ul>
        <li *ngFor="let hotel of hotels ">
          <app-hotel-item-list [hotel]=hotel></app-hotel-item-list>
        </li>
      </ul>
    </div>
  </div>
</div>