
<div class="flex">
	
	<div class="formulario">
	

<form class="form-signin" (ngSubmit)="addHotel()">
	<h2 class="form-signin-heading">Guardar Hotel</h2>
	<div class="form-group">
		<label for="inputNombre">Nombre</label>
		<input class="form-control" id="inputNombre" name="nombre" placeholder="Nombre Hotel" [(ngModel)]="hotel.nombre">
	</div>


	<div class="form-group">
		<label for="inputCosto">Costo Habitacion</label>
		<input class="form-control" id="inputCosto" name="costoHabitacion" placeholder="costo habitacion $$$" [(ngModel)]="hotel.costoHabitacion">
	</div>

	<div class="form-group">
		<label for="inputUbicacion">Ubicación</label>
		<input class="form-control" id="inputUbicacion" name="ubicacion" placeholder="ubicacion Hotel" [(ngModel)]="hotel.ubicacion">
	</div>


	<button type="submit" class="btn btn-primary">Guardar</button>
</form>
</div>

<div class="list-hotels" >
	<ul>
		<li *ngFor="let hotel of hotels ">
			<app-hotel-item-list [nombre]=hotel.nombre [calificacion]=hotel.calificacionPromedio [precio]=hotel.costoHabitacion ></app-hotel-item-list>
		</li>
	</ul>	
</div>
</div>










