
<div class="row formulario">
  <div class="col-sm-6">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]=14>
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
  </div>
  <div class="col-sm-6 ">

   <h2>
     {{hotel.nombre}}
   </h2>
   Calificación : 
   <span class="o-hotel-review__score"><em>{{hotel.calificacionPromedio}}</em>/5</span>


   <div class="o-price">                                          
     Precio Habitación : <span class="o-price__currency"> </span>
     <span class="o-price__num">$ {{hotel.costoHabitacion}}</span>
   </div>




 </div>
</div>



<div class="formulario">
  <form class="form-signin" (ngSubmit)="saveComent()">
    <h5 class="form-signin-heading">Cuentanos tu opinión</h5>




    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Nombre</span>
      </div>
      <input class="form-control corto" id="inputNombre" required="true" name="nombre" placeholder=""
      [(ngModel)]="usuario">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Email</span>
      </div>
      <input class="form-control corto" id="inputEmail" required="true" type="email" name="email" placeholder="email@example.com"
      [(ngModel)]="email">
    </div>


    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Calificación</label>
      </div>
      <select [(ngModel)]="calificacion" class="custom-select" id="inputGroupSelect01" name="calificacion">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>


    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Comentario</span>
      </div>
      <input class="form-control grande" id="inputComentario" required="true" name="comentario" [(ngModel)]="comentario">
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>

  <div class="gris">
    <ul>

      <li *ngFor="let item of comentarios" >
        <app-comentario-item [comentario]=item></app-comentario-item>
      </li>
    </ul>

  </div>
</div>