
<div class="redondeado" (click)="Ira(content)">

	  <div class="c-hot-hotel-item-v2__price-box">                                     
		<button type="button" class="btn btn-danger" (click)="delTask()">Borrar</button>
  	</div>
	
<h4>
 {{hotel.nombre}} 
</h4>

<span class="o-hotel-review__score"><em>{{hotel.calificacionPromedio}}</em>/5</span>

  <div class="c-hot-hotel-item-v2__price-box">
     <div class="o-price">                                          
        <span class="o-price__currency">$</span>
        <span class="o-price__num">{{hotel.costoHabitacion}}</span>
     </div>
  </div>

</div>



<ng-template #content let-c="close" let-d="dismiss">

<app-hotel-info [hotel]='hotel'></app-hotel-info>

</ng-template>


